<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var data = new google.visualization.DataTable();
          let dataFromBack = [[${data}]]
          let headers = [[${headers}]];

          data.addColumn('number', "date")

          for (const header of headers) {
            data.addColumn('number', header.toString());
          }


          for (let i = 0; i < dataFromBack.length; i++) {
             dataFromBack[i].unshift(i + 1)
          }

          data.addRows(dataFromBack);

          var options = {
            title: 'Изменение максимальной темпиратуры',
            hAxis: {title: 'dates',  titleTextStyle: {color: '#333'}},
            vAxis: {minValue: 0}
          };

          var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
    </script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div id="chart_div" style="width: 100%; height: 500px;"></div>
</body>
</html>